/****** Script for SelectTopNRows command from SSMS  *****
SELECT TOP (1000) [uuid]
      ,[total_physical_servers]
      ,[total_server_vms]
      ,[vm_vmware]
      ,[vm_microsoft]
      ,[vm_xen]
      ,[vm_virtual_iron]
      ,[vm_virtual_box]
      ,[vm_wyse]
      ,[vm_parallels]
      ,[total_server_os]
      ,[total_windows_server_os]
      ,[os_win_server_2000]
      ,[os_win_server_2003]
      ,[os_win_server_2008]
      ,[os_win_server_2012]
      ,[os_linux]
      ,[os_redhat]
      ,[os_mac_osx]
      ,[os_windows_nt]
      ,[os_windows_2000]
      ,[os_windows_xp]
      ,[os_windows_vista]
      ,[os_windows_7]
      ,[os_windows_8]
      ,[os_other]
  FROM [Spiceworks Network Files].[csv].[msft_deliver_server_virtual_2017_07]
  */
SELECT TOP 25000   --3,034,817 rows total
	[uuid]  AS [UUID]
    ,NULL AS [Platform]
	,indicatorname AS [Product]
	,indicatorvalue as [Count]
--SELECT TOP 25000 *    --SELECT COUNT(*)   511,123
FROM [Spiceworks Network Files].[csv].[msft_deliver_server_virtual_2017_07]
unpivot
(
  indicatorvalue
  for indicatorname in (
		[total_physical_servers]
      ,[total_server_vms]
      ,[vm_vmware]
      ,[vm_microsoft]
      ,[vm_xen]
      ,[vm_virtual_iron]
      ,[vm_virtual_box]
      ,[vm_wyse]
      ,[vm_parallels]
      ,[total_server_os]
      ,[total_windows_server_os]
      ,[os_win_server_2000]
      ,[os_win_server_2003]
      ,[os_win_server_2008]
      ,[os_win_server_2012]
      ,[os_linux]
      ,[os_redhat]
      ,[os_mac_osx]
      ,[os_windows_nt]
      ,[os_windows_2000]
      ,[os_windows_xp]
      ,[os_windows_vista]
      ,[os_windows_7]
      ,[os_windows_8]
      ,[os_other]
	)
) unpiv
where indicatorvalue>0
;