/****** Script for SelectTopNRows command from SSMS  *****
SELECT TOP (1000) [id]
      ,[uuid]
      ,[device_count]
      ,[oem]
      ,[form_factor]
      ,[os_name]
      ,[born_on_year]
      ,[msft_office_2010_standard_revised_flag]
      ,[iwork_ofm_ie_flag]
      ,[slack_flag]
      ,[msft_office_2000_pro]
      ,[msft_office_2000_standard]
      ,[msft_office_2000_smb]
      ,[msft_office_2000_premium]
      ,[msft_office_2000]
      ,[msft_office_2003_pro]
      ,[msft_office_2003_standard]
      ,[msft_office_2003_smb]
      ,[msft_office_2003_basic]
      ,[msft_office_2003]
      ,[msft_office_2007_pro]
      ,[msft_office_2007_pro_plus]
      ,[msft_office_2007_enterprise]
      ,[msft_office_2007_standard]
      ,[msft_office_2007_smb]
      ,[msft_office_2007_home]
      ,[msft_office_2007_basic]
      ,[msft_office_2007_ultimate]
      ,[msft_office_2007]
      ,[msft_office_2010_pro]
      ,[msft_office_2010_pro_plus]
      ,[msft_office_2010_enterprise]
      ,[msft_office_2010_standard]
      ,[msft_office_2010_standard_revised]
      ,[msft_office_2010_smb]
      ,[msft_office_2010_home]
      ,[msft_office_2010_basic]
      ,[msft_office_2010_ultimate]
      ,[msft_office_2010_starter]
      ,[msft_office_2010]
      ,[msft_office_2013_pro]
      ,[msft_office_2013_pro_plus]
      ,[msft_office_2013_enterprise]
      ,[msft_office_2013_standard]
      ,[msft_office_2013_smb]
      ,[msft_office_2013_home]
      ,[msft_office_2013_basic]
      ,[msft_office_2013_ultimate]
      ,[msft_office_2013]
      ,[msft_office_365]
      ,[msft_office_365_2013]
      ,[msft_office_365_2016]
      ,[msft_office_2016]
      ,[msft_office_2016_pro]
      ,[msft_office_2016_pro_plus]
      ,[msft_office_2016_enterprise]
      ,[msft_office_2016_standard]
      ,[msft_office_2016_standard_revised]
      ,[msft_office_2016_smb]
      ,[msft_office_2016_home]
      ,[msft_office_2016_basic]
      ,[msft_office_2016_ultimate]
      ,[msft_office_2016_home_and_business]
      ,[msft_office_web_apps]
      ,[open_office]
      ,[google_apps]
      ,[google_docs]
      ,[evernote]
      ,[msft_skydrive]
      ,[msft_skydrive_pro]
      ,[apple_icloud]
      ,[google_drive]
      ,[dropbox]
      ,[amazon_cloud_drive]
      ,[box]
      ,[skype]
      ,[apple_facetime]
      ,[microsoft_lync]
      ,[cisco_webex]
      ,[microsoft_internet_explorer]
      ,[apple_safari]
      ,[mozilla_firefox]
      ,[google_chrome]
      ,[xbox_music]
      ,[zune]
      ,[itunes]
      ,[pandora]
      ,[spotify]
      ,[amazon_mp3]
      ,[msft_works]
      ,[libre_office]
      ,[lotus_symphony]
      ,[star_office]
      ,[star_suite]
      ,[wordperfect]
      ,[haansoft_office]
      ,[kingsoft_office]
      ,[iwork_revised]
      ,[office_for_mac]
      ,[internet_explorer]
      ,[slack]
      ,[office_online]
      ,[google_apps_online]
      ,[google_drive_online]
      ,[google_docs_online]
      ,[google_appengine_online]
      ,[google_compute_online]
      ,[bucket_icloud_cloudservice]
      ,[bucket_dropbox_cloudservice]
      ,[bucket_onedrive_cloudservice]
      ,[amazon_console_cloudservice]
      ,[windows_azure_cloudservice]
      ,[linkedin_cloudservice]
      ,[paid_google_docs_cloudservice]
      ,[paid_google_drive_cloudservice]
      ,[google_console_cloudservice]
      ,[sw_agent_online]
  FROM [Spiceworks Client Files].[csv].[msft_deliver_pcworkloads_2017_07]



SELECT DISTINCT top 1000   --33779 total
      [oem]
      ,[form_factor]
      ,[os_name]
      ,left([born_on_year],4)
      ,[msft_office_2010_standard_revised_flag]
      ,[iwork_ofm_ie_flag]
      ,[slack_flag]
FROM [Spiceworks Client Files].[csv].[msft_deliver_pcworkloads_2017_07]
*/

Select TOP 25000
	LTRIM(STR([ID])) +':'+[UUID] AS IDUUID
	--,[oem]
 --     ,[form_factor]
 --     ,[os_name]
 --     ,left([born_on_year],4)
 	,[oem] + ':' + [form_factor] + ':' + [os_name] + ':' + left([born_on_year],4) AS [Platform]

	,indicatorname as [Product]
	,device_count as [Count]
	--,indicatorvalue
	--SELECT COUNT(*)  --15,022,425
	--SELECT TOP 25000 *
FROM [Spiceworks Client Files].[csv].[msft_deliver_pcworkloads_2017_07]
unpivot
(
  indicatorvalue
  for indicatorname in (
      [msft_office_2000_pro]
      ,[msft_office_2000_standard]
      ,[msft_office_2000_smb]
      ,[msft_office_2000_premium]
      ,[msft_office_2000]
      ,[msft_office_2003_pro]
      ,[msft_office_2003_standard]
      ,[msft_office_2003_smb]
      ,[msft_office_2003_basic]
      ,[msft_office_2003]
      ,[msft_office_2007_pro]
      ,[msft_office_2007_pro_plus]
      ,[msft_office_2007_enterprise]
      ,[msft_office_2007_standard]
      ,[msft_office_2007_smb]
      ,[msft_office_2007_home]
      ,[msft_office_2007_basic]
      ,[msft_office_2007_ultimate]
      ,[msft_office_2007]
      ,[msft_office_2010_pro]
      ,[msft_office_2010_pro_plus]
      ,[msft_office_2010_enterprise]
      ,[msft_office_2010_standard]
      ,[msft_office_2010_standard_revised]
      ,[msft_office_2010_smb]
      ,[msft_office_2010_home]
      ,[msft_office_2010_basic]
      ,[msft_office_2010_ultimate]
      ,[msft_office_2010_starter]
      ,[msft_office_2010]
      ,[msft_office_2013_pro]
      ,[msft_office_2013_pro_plus]
      ,[msft_office_2013_enterprise]
      ,[msft_office_2013_standard]
      ,[msft_office_2013_smb]
      ,[msft_office_2013_home]
      ,[msft_office_2013_basic]
      ,[msft_office_2013_ultimate]
      ,[msft_office_2013]
      ,[msft_office_365]
      ,[msft_office_365_2013]
      ,[msft_office_365_2016]
      ,[msft_office_2016]
      ,[msft_office_2016_pro]
      ,[msft_office_2016_pro_plus]
      ,[msft_office_2016_enterprise]
      ,[msft_office_2016_standard]
      ,[msft_office_2016_standard_revised]
      ,[msft_office_2016_smb]
      ,[msft_office_2016_home]
      ,[msft_office_2016_basic]
      ,[msft_office_2016_ultimate]
      ,[msft_office_2016_home_and_business]
      ,[msft_office_web_apps]
      ,[open_office]
      ,[google_apps]
      ,[google_docs]
      ,[evernote]
      ,[msft_skydrive]
      ,[msft_skydrive_pro]
      ,[apple_icloud]
      ,[google_drive]
      ,[dropbox]
      ,[amazon_cloud_drive]
      ,[box]
      ,[skype]
      ,[apple_facetime]
      ,[microsoft_lync]
      ,[cisco_webex]
      ,[microsoft_internet_explorer]
      ,[apple_safari]
      ,[mozilla_firefox]
      ,[google_chrome]
      ,[xbox_music]
      ,[zune]
      ,[itunes]
      ,[pandora]
      ,[spotify]
      ,[amazon_mp3]
      ,[msft_works]
      ,[libre_office]
      ,[lotus_symphony]
      ,[star_office]
      ,[star_suite]
      ,[wordperfect]
      ,[haansoft_office]
      ,[kingsoft_office]
      ,[iwork_revised]
      ,[office_for_mac]
      ,[internet_explorer]
      ,[slack]
      ,[office_online]
      ,[google_apps_online]
      ,[google_drive_online]
      ,[google_docs_online]
      ,[google_appengine_online]
      ,[google_compute_online]
      ,[bucket_icloud_cloudservice]
      ,[bucket_dropbox_cloudservice]
      ,[bucket_onedrive_cloudservice]
      ,[amazon_console_cloudservice]
      ,[windows_azure_cloudservice]
      ,[linkedin_cloudservice]
      ,[paid_google_docs_cloudservice]
      ,[paid_google_drive_cloudservice]
      ,[google_console_cloudservice]
      ,[sw_agent_online]
	)
) unpiv
WHERE indicatorvalue>0
--AND device_count < indicatorvalue
--Yes always a whole mulitple:
--AND indicatorvalue <> device_count * 2 AND indicatorvalue <> device_count * 3 AND indicatorvalue <> device_count * 4 AND indicatorvalue <> device_count * 6 AND indicatorvalue <> device_count * 7 AND indicatorvalue <> device_count * 8 AND indicatorvalue <> device_count * 9


/*
SELECT * FROM [Spiceworks Client Files].[csv].[msft_deliver_pcworkloads_2017_07] 
WHERE UUID = '7de6b15fabc86bdefac6900aa93ca5ca' 
and internet_explorer >0
*/

