/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
--SELECT DISTINCT [uuid]  --ID:ID
--SELECT DISTINCT [server_roles_uuid]  --ID:ID
--SELECT DISTINCT [cat_base]  --ID:ID
--SELECT DISTINCT [print_7]  --bit:Flag
--SELECT DISTINCT [remote_desktop_18]  --bit:Flag
--SELECT DISTINCT [winsvr_backup_39]  --bit:Flag
--SELECT DISTINCT [win_activation_svcs_41]  --bit:Flag
--SELECT DISTINCT [telnet_client_44]  --bit:Flag
--SELECT DISTINCT [telnet_svr_45]  --bit:Flag
--SELECT DISTINCT [lpr_port_mntr_53]  --bit:Flag
--SELECT DISTINCT [internet_storage_55]  --bit:Flag
--SELECT DISTINCT [bitlocker_encrypt_61]  --bit:Flag
--SELECT DISTINCT [internet_print_63]  --bit:Flag
--SELECT DISTINCT [remote_admin_67]  --bit:Flag
--SELECT DISTINCT [qual_win_av_68]  --bit:Flag
--SELECT DISTINCT [remote_diff_comp_73]  --bit:Flag
--SELECT DISTINCT [migration_tools_320]  --bit:Flag
--SELECT DISTINCT [win_rm_iis_321]  --bit:Flag
--SELECT DISTINCT [branchcache_324]  --bit:Flag
--SELECT DISTINCT [biometric_339]  --bit:Flag
--SELECT DISTINCT [powershell_int_scripting_351]  --bit:Flag
--SELECT DISTINCT [tiff_352]  --bit:Flag
--SELECT DISTINCT [ipam_409]  --bit:Flag
--SELECT DISTINCT [file_and_storage_481]  --bit:Flag
--SELECT DISTINCT [essntls_exprnce_485]  --bit:Flag
--SELECT DISTINCT [cat_born_cloud]  --bit:Flag
--SELECT DISTINCT [apps_1]  --bit:Flag
--SELECT DISTINCT [web_2]  --bit:Flag
--SELECT DISTINCT [ad_lite_dir_svcs_9]  --bit:Flag
--SELECT DISTINCT [ad_rights_mgmt_17]  --bit:Flag
--SELECT DISTINCT [msg_queuing_49]  --bit:Flag
--SELECT DISTINCT [dotnet_45_418]  --bit:Flag
--SELECT DISTINCT [dotnet_45_features_466]  --bit:Flag
--SELECT DISTINCT [cat_cloud_infra]  --bit:Flag
--SELECT DISTINCT [file_6]  --bit:Flag
--SELECT DISTINCT [ad_fed_svcs_8]  --bit:Flag
--SELECT DISTINCT [ad_domain_svcs_10]  --bit:Flag
--SELECT DISTINCT [dhcp_12]  --bit:Flag
--SELECT DISTINCT [dns_13]  --bit:Flag
--SELECT DISTINCT [ad_cert_svcs_16]  --bit:Flag
--SELECT DISTINCT [win_deploy_svcs_19]  --bit:Flag
--SELECT DISTINCT [hyperv_20]  --bit:Flag
--SELECT DISTINCT [win_server_update_21]  --bit:Flag
--SELECT DISTINCT [failover_cluster_33]  --bit:Flag
--SELECT DISTINCT [load_balancing_34]  --bit:Flag
--SELECT DISTINCT [multipath_io_57]  --bit:Flag
--SELECT DISTINCT [win_powershell_66]  --bit:Flag
--SELECT DISTINCT [bits_335]  --bit:Flag
--SELECT DISTINCT [svr_update_404]  --bit:Flag
--SELECT DISTINCT [powershell_417]  --bit:Flag
--SELECT DISTINCT [cat_legacy]  --bit:Flag
--SELECT DISTINCT [fax_5]  --bit:Flag
--SELECT DISTINCT [dotnet_351_36]  --bit:Flag
--SELECT DISTINCT [wins_svr_40]  --bit:Flag
--SELECT DISTINCT [group_policy_69]  --bit:Flag
--SELECT DISTINCT [wow64_support_340]  --bit:Flag
  FROM [Spiceworks Server Roles Files].[csv].[msft_deliver_server_roles_2017_07]