/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [id]
      --SELECT DISTINCT [uuid]
--SELECT DISTINCT [device_count]  -- count of counts?: 450
--SELECT DISTINCT [oem]  --13 vals: familiar names
--SELECT DISTINCT [form_factor]  --2 vals: D, L
--SELECT DISTINCT [os_name]  --529 vals, varying sensibility, needs mapping
--SELECT DISTINCT [born_on_year]  --28 years (as 01/01/YYYY)
--SELECT DISTINCT [msft_office_2010_standard_revised_flag]  --bit
--SELECT DISTINCT [iwork_ofm_ie_flag]  --bit
--SELECT DISTINCT [slack_flag]  --bit
--SELECT DISTINCT [msft_office_2000_pro]  --count of counts?: 35
--SELECT DISTINCT [msft_office_2000_standard]  --count of counts?: 20
--SELECT DISTINCT [msft_office_2000_smb]  --count of counts?: 11
--SELECT DISTINCT [msft_office_2000_premium]  --count of counts?: 39
--SELECT DISTINCT [msft_office_2000]  --count of counts?: 117
--SELECT DISTINCT [msft_office_2003_pro]  --count of counts?: 166
--SELECT DISTINCT [msft_office_2003_standard]  --count of counts?: 104
--SELECT DISTINCT [msft_office_2003_smb]  --count of counts?: 53
--SELECT DISTINCT [msft_office_2003_basic]  --count of counts?: 43
--SELECT DISTINCT [msft_office_2003]  --count of counts?: 28
--SELECT DISTINCT [msft_office_2007_pro]  --count of counts?: 48
--SELECT DISTINCT [msft_office_2007_pro_plus]  --count of counts?: 205
--SELECT DISTINCT [msft_office_2007_enterprise]  --count of counts?: 147
--SELECT DISTINCT [msft_office_2007_standard]  --count of counts?: 155
--SELECT DISTINCT [msft_office_2007_smb]  --count of counts?: 59
--SELECT DISTINCT [msft_office_2007_home]  --count of counts?: 17
--SELECT DISTINCT [msft_office_2007_basic]  --count of counts?: 50
--SELECT DISTINCT [msft_office_2007_ultimate]  --count of counts?: 14
--SELECT DISTINCT [msft_office_2007]  --count of counts?: 10
--SELECT DISTINCT [msft_office_2010_pro]  --count of counts?: 61
--SELECT DISTINCT [msft_office_2010_pro_plus]  --count of counts?: 316
--SELECT DISTINCT [msft_office_2010_enterprise]  --bit
--SELECT DISTINCT [msft_office_2010_standard]  --count of counts?: 23
--SELECT DISTINCT [msft_office_2010_standard_revised]  --count of counts?: 193
--SELECT DISTINCT [msft_office_2010_smb]  --count of counts?: 12
--SELECT DISTINCT [msft_office_2010_home]  --count of counts?: 19
--SELECT DISTINCT [msft_office_2010_basic]  --all 0
--SELECT DISTINCT [msft_office_2010_ultimate]  --all 0
--SELECT DISTINCT [msft_office_2010_starter]  --count of counts?: 65
--SELECT DISTINCT [msft_office_2010]  --count of counts?: 52
--SELECT DISTINCT [msft_office_2013_pro]  --count of counts?: 50
--SELECT DISTINCT [msft_office_2013_pro_plus]  --count of counts?: 264
--SELECT DISTINCT [msft_office_2013_enterprise]  --all 0
--SELECT DISTINCT [msft_office_2013_standard]  --count of counts?: 111
--SELECT DISTINCT [msft_office_2013_smb]  --all 0
--SELECT DISTINCT [msft_office_2013_home]  --count of counts?: 4
--SELECT DISTINCT [msft_office_2013_basic]  --all 0
--SELECT DISTINCT [msft_office_2013_ultimate]  --all 0
--SELECT DISTINCT [msft_office_2013]  --bit
--SELECT DISTINCT [msft_office_365]  --count of counts?: 114
      --SELECT DISTINCT [msft_office_365_2013]  --102 ints
--SELECT DISTINCT [msft_office_365_2016]  --count of counts?: 79
      --SELECT DISTINCT [msft_office_2016]  --bit
      --SELECT DISTINCT [msft_office_2016_pro]  --22 ints
      --SELECT DISTINCT [msft_office_2016_pro_plus]  --158 ints
      --SELECT DISTINCT [msft_office_2016_enterprise]  --all 0
      --SELECT DISTINCT [msft_office_2016_standard]  --bit
      --SELECT DISTINCT [msft_office_2016_standard_revised]  --68 ints
      --SELECT DISTINCT [msft_office_2016_smb]  --all 0
      --SELECT DISTINCT [msft_office_2016_home]  --all 0
      --SELECT DISTINCT [msft_office_2016_basic]  --all 0
      --SELECT DISTINCT [msft_office_2016_ultimate]  --all 0
      --SELECT DISTINCT [msft_office_2016_home_and_business]  --51 ints
--SELECT DISTINCT [msft_office_web_apps]  --count of counts?: 18
--SELECT DISTINCT [open_office]  --count of counts?: 180
--SELECT DISTINCT [google_apps]  --count of counts?: 94
--SELECT DISTINCT [google_docs]  --count of counts?: 14
--SELECT DISTINCT [evernote]  --count of counts?: 101
--SELECT DISTINCT [msft_skydrive]  --count of counts?: 67
--SELECT DISTINCT [msft_skydrive_pro]  --bit
--SELECT DISTINCT [apple_icloud]  --count of counts?: 76
--SELECT DISTINCT [google_drive]  --count of counts?: 176
--SELECT DISTINCT [dropbox]  --count of counts?: 54
--SELECT DISTINCT [amazon_cloud_drive]  --count of counts?: 4
--SELECT DISTINCT [box]  --count of counts?: 44
--SELECT DISTINCT [skype]  --count of counts?: 174
--SELECT DISTINCT [apple_facetime]  --count of counts?: 108
--SELECT DISTINCT [microsoft_lync]  --count of counts?: 31
--SELECT DISTINCT [cisco_webex]  --count of counts?: 65
--SELECT DISTINCT [microsoft_internet_explorer]  --count of counts?: 161
--SELECT DISTINCT [apple_safari]  --count of counts?: 143
--SELECT DISTINCT [mozilla_firefox]  --count of counts?: 293
--SELECT DISTINCT [google_chrome]  --count of counts?: 336
--SELECT DISTINCT [xbox_music]  --all 0
--SELECT DISTINCT [zune]  --count of counts?: 20
--SELECT DISTINCT [itunes]  --count of counts?: 204
--SELECT DISTINCT [pandora]  --count of counts?: 15
--SELECT DISTINCT [spotify]  --count of counts?: 6
--SELECT DISTINCT [amazon_mp3]  --all 0
--SELECT DISTINCT [msft_works]  --count of counts?: 131
--SELECT DISTINCT [libre_office]  --count of counts?: 178
--SELECT DISTINCT [lotus_symphony]  --count of counts?: 26
--SELECT DISTINCT [star_office]  --count of counts?: 21
--SELECT DISTINCT [star_suite]  --3 vals 0 1 2
--SELECT DISTINCT [wordperfect]  --count of counts?: 65
--SELECT DISTINCT [haansoft_office]  --bit
--SELECT DISTINCT [kingsoft_office]  --count of counts?: 83
--SELECT DISTINCT [iwork_revised]  --count of counts?: 153
--SELECT DISTINCT [office_for_mac]  --count of counts?: 143
--SELECT DISTINCT [internet_explorer]  --count of counts?: 437
--SELECT DISTINCT [slack]  --count of counts?: 29
--SELECT DISTINCT [office_online]  --bit
--SELECT DISTINCT [google_apps_online]  --bit
--SELECT DISTINCT [google_drive_online]  --bit
--SELECT DISTINCT [google_docs_online]  --bit
--SELECT DISTINCT [google_appengine_online]  --bit
--SELECT DISTINCT [google_compute_online]  --bit
      --SELECT DISTINCT [bucket_icloud_cloudservice]  --bit
      --SELECT DISTINCT [bucket_dropbox_cloudservice]  --bit
      --SELECT DISTINCT [bucket_onedrive_cloudservice]  --bit
      --SELECT DISTINCT [amazon_console_cloudservice]  --bit
      --SELECT DISTINCT [windows_azure_cloudservice]  --bit
      --SELECT DISTINCT [linkedin_cloudservice]  --bit
      --SELECT DISTINCT [paid_google_docs_cloudservice]  --bit
      --SELECT DISTINCT [paid_google_drive_cloudservice]  --bit
      --SELECT DISTINCT [google_console_cloudservice]  --bit
--SELECT DISTINCT [sw_agent_online]  --bit
  FROM [Spiceworks Client Files].[csv].[msft_deliver_pcworkloads_2017_07]
--FROM [Spiceworks Client Files].[csv].[msft_final_pc_workloads_2017_01]